---
import Layout from "~/layouts/Layout.astro";
import IconGenerator from "~/components/IconGenerator/IconGenerator"
---

<Layout title="Welcome to Astro.">
  <main class="max-w-[1440px] mx-auto">
    <IconGenerator client:load/>
  </main>
</Layout>