---
import Layout from "../layouts/Layout.astro";
import Top from '~/components/Top/Top'
import About from '~/components/About/About'
import Information from '~/components/Information/Information'
import Goods from '~/components/Goods/Goods'
import Special from '~/components/Special/Special'
import Credit from '~/components/Credit/Credit'
import Ending from '~/components/Ending/Ending'
---

<Layout>
  <main id="main" class="relative desktop:flex gap-[256px] no-wrap justify-start min-w-screen w-min box-border">
    <Top/>
    <About/>
    <Information/>
    <Goods/>
    <Special client:load/>
    <Credit/>
    <Ending client:load/>
  </main>
</Layout>
