---
import Layout from "../layouts/Layout.astro";
import About from '~/components/About/About'

---

<Layout>
  <main class="grid grid-cols-[repeat(6,auto)]">
    <div class="h-screen w-screen bg-white">hogehoge</div>
    <About/>
  </main>
</Layout>
