---
import Layout from "../layouts/Layout.astro";
import About from '~/components/About/About'
import Information from '~/components/Information/Information'
import Goods from '~/components/Goods/Goods'
import Special from '~/components/Special/Special'
---

<Layout>
  <main id="main" class="flex gap-24 no-wrap justify-start min-w-screen w-min">
    <div class="h-screen w-screen bg-white">hogehoge</div>
    <About/>
    <Information/>
    <Goods/>
    <Special client:load/>
  </main>
</Layout>
