---
export interface Props {
  title?: string
}

const BASE_TITLE = '466S LOOKBOOK @C102_T-13b'
// const BASE_URL = '466s.kunshiran.design'

const { title } = Astro.props
const meta = {
  title: title ? `title | ${BASE_TITLE}` : BASE_TITLE,
  description:
    'スプラトゥーンをテーマにしたファッションイラスト合同誌「466S」。 C102(2023年8月12日) 東2ホール T-13b にて頒布！ ',
}
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{meta.title}</title>
    <meta name="description" content={meta.description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <!-- Google Tag Manager -->
    <script type="text/partytown">
      ;(function (w, d, s, l, i) {
        w[l] = w[l] || []
        w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' })
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != 'dataLayer' ? '&l=' + l : ''
        j.async = true
        j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl
        f.parentNode.insertBefore(j, f)
      })(window, document, 'script', 'dataLayer', 'GTM-MFMBTNX7')
    </script>
    <!-- End Google Tag Manager -->
  </head>
  <body>
    <slot />
  </body>
</html>
